:root {
  --primary-color: hsl(0, 0%, 15%);
  --secondary-color: hsl(0, 0%, 5%);
  --tertiary-color: hsl(0, 0%, 85%);
  --quaternary-color-opacity-lower: hsla(50, 100%, 50%, 0.5);
  --quaternary-color-opacity-middle: hsla(50, 100%, 50%, 0.75);
  --quaternary-color-opacity-full: hsla(50, 100%, 50%, 1);
  --grayish-color: hsl(0, 0%, 60%);

  --down-arrow-bottom-position: 2px;
  --down-arrow-top-position: 14px;

  --time-half-second: 0.5s;
  --time-one-quarter-second: 0.25s;

  --secondary-color-alpha--before: hsla(0, 0%, 5%, 0.5);
  --secondary-color-alpha--after: hsla(0, 0%, 40%, 0.5);

  --gradient-bar-color: hsla(50, 100%, 50%, 0.75);
  --gradient-back-color: hsl(0, 0%, 85%);

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --button-width: 30px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: var(--tertiary-color);
  scrollbar-color: var(--quaternary-color-opacity-middle)
    var(--quaternary-color-opacity-lower);
  scrollbar-width: thin;
  background-color: var(--primary-color);
  text-align: center;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: var(--quaternary-color-opacity-lower);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--quaternary-color-opacity-middle);
  opacity: 0.4;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--quaternary-color-opacity-full);
}
h1 {
  font-size: 64px;
  color: var(--quaternary-color-opacity-full);
}
.flex-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.hidden {
  display: none;
}
@keyframes down-arrow-animation {
  0% {
    bottom: var(--down-arrow-bottom-position);
  }
  50% {
    bottom: var(--down-arrow-top-position);
  }
  100% {
    bottom: var(--down-arrow-bottom-position);
  }
}
@keyframes up-arrow-animation {
  0% {
    top: var(--down-arrow-bottom-position);
  }
  50% {
    top: var(--down-arrow-top-position);
  }
  100% {
    top: var(--down-arrow-bottom-position);
  }
}
.down-arrow {
  position: absolute;
  bottom: var(--down-arrow-bottom-position);
  font-size: 64px;
  animation-name: down-arrow-animation;
}
.up-arrow {
  top: var(--down-arrow-bottom-position);
  animation-name: up-arrow-animation;
}
.arrow {
  position: absolute;
  font-size: 48px;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transition: color 0.25s;
  color: var(--quaternary-color-opacity-middle);
}
.arrow:hover {
  cursor: pointer;
  color: var(--quaternary-color-opacity-full);
}

section:nth-of-type(odd) {
  background-color: var(--primary-color);
}
section:nth-of-type(even) {
  background-color: var(--secondary-color);
}

/* /////////////////////////////////////////////////////////////////////////// */
/* Home Display - First Container */

#first-container #start-screen img {
  border: 8px solid var(--secondary-color);
  border-radius: 50%;
  width: 400px;
  height: 450px;
  margin-bottom: 16px;
}
#first-container p {
  color: var(--quaternary-color-opacity-middle);
  font-size: 32px;
}

/* /////////////////////////////////////////////////////////////////////////// */
/*  Projects Display - Second Container */

#second-container {
  flex-direction: column;
}
#second-container a {
  display: inline-block;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  padding: 16px;
  margin-bottom: 4px;
  font-size: 32px;
  text-decoration: none;
  border-radius: 4px;
  transition: color var(--time-half-second),
    background-color var(--time-half-second);
}
#second-container a:hover {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}
#second-container p:first-of-type {
  margin-bottom: 8px;
  color: var(--quaternary-color-opacity-middle);
}
#second-container p:nth-of-type(2):hover {
  color: var(--tertiary-color);
  cursor: pointer;
}
#second-container #projects-screen {
  background-color: var(--primary-color);
  color: var(--grayish-color);
  max-height: 500px;
  max-width: 720px;
  padding: 48px 64px 32px;
  border-radius: 8px;
  margin-top: 16px;
  overflow-y: auto;
  scrollbar-width: thin;
}
#second-container .project {
  margin: 24px 0;
}

/* /////////////////////////////////////////////////////////////////////////// */
/* Third Container Skillset */
#third-container {
  flex-direction: column;
  color: var(--secondary-color);
}
#third-container #skillset {
  margin-top: 16px;
  border-radius: 8px;
  padding: 16px;
  width: 500px;
  background-color: var(--grayish-color);
  background-size: inherit;
}
#third-container .skill {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: inherit;
  font-size: 48px;
  padding: 2px 0;
  margin-bottom: 2px;
}

#third-container span,
#third-container img  {
  position: relative;
  z-index: 2;
}

#third-container img {
  height: 64px;
  margin-right: 8px;
}
#third-container .skill {
  background-color:  var(--gradient-back-color);
}

#third-container .skill > div {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  width: 0;
  background-color: var(--gradient-bar-color);
  transition: width 2000ms;
  overflow: hidden;
  border-radius: inherit;
}

#third-container .skill:nth-of-type(odd) > div {
  left: 0;
}

#third-container .skill:nth-of-type(even) > div {
  right: 0;
}

/* /////////////////////////////////////////////////////////////////////////// */
/*  About Me Display - Fourth Container */

#fourth-container {
  flex-direction: column;
}
#fourth-container #about-me {
  position: relative;
  border-radius: 8px;
  width: 700px;
  margin-top: 16px;
}
#fourth-container #slider-refs {
  padding-top: 16px;
  display: flex;
  justify-content: center;
}
#fourth-container .dot-ref {
  cursor: pointer;
  background-color: var(--grayish-color);
  border-width: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 4px 4px;
}
#fourth-container .dot-ref:hover {
  background-color: var(--quaternary-color-opacity-middle);
}
#fourth-container .active-ref {
  font-size: 30px;
  background-color: var(--quaternary-color-opacity-full);
}
#fourth-container #slider-wrapper {
  color: var(--secondary-color);
  height: 300px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
#fourth-container #slider-content {
  background-color: var(--primary-color);
  position: relative;
  color: var(--tertiary-color);
  width: 100%;
  height: inherit;
}
#fourth-container p {
  text-align: left;
  line-height: 1.4;
  letter-spacing: 0.5px;
  font-family: Arial, Helvetica, sans-serif;
}
#fourth-container h3 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 4px;
}
#fourth-container .slide {
  padding: 0 8px 0 calc(var(--button-width) + 10px);
  position: absolute;
  width: calc(100% - var(--button-width) - 2px);
  height: 268px;
  top: 16px;
  left: 0;
  overflow-y: auto;
  transition: transform 0.75s;
  scrollbar-width: thin;
}
/* SCROLLBAR ONLY */
/* #fourth-container .slide::-webkit-scrollbar {
  width: 6px;
}
#fourth-container .slide::-webkit-scrollbar-track {
  background-color: var(--quaternary-color-opacity-lower);
  border-radius: 10px;
}
#fourth-container .slide::-webkit-scrollbar-thumb {
  background-color: var(--quaternary-color-opacity-middle);
  opacity: 0.4;
  border-radius: 4px;
}
#fourth-container .slide::-webkit-scrollbar-thumb:hover {
  background: var(--quaternary-color-opacity-full);
} */
/* ////// */
#fourth-container .slider__btn {
  cursor: pointer;
  background-color: var(--grayish-color);
  border: 0;
  font-size: 24px;
  opacity: 0.75;
  color: var(--quaternary-color-opacity-full);
  width: var(--button-width);
  position: absolute;
  height: inherit;
  top: 0;
  transition: opacity var(--time-one-quarter-second);
  z-index: 3;
}
#fourth-container #slider__btn--left {
  left: 0;
}
#fourth-container #slider__btn--right {
  right: 0;
}
#fourth-container .slider__btn:hover {
  opacity: 1;
}
/* /////////////////////////////////////////////////////////////////////////// */
/* Socials - Fifth Container */

#fifth-container #socials {
  position: relative;
  background-color: white;
  font-size: 72px;
}
#fifth-container a {
  position: absolute;
  display: block;
  text-decoration: none;
  color: var(--quaternary-color-opacity-middle);
  transition: transform 0.6s, font-size 0.5s;
}
#fifth-container a:hover {
  font-size: 96px;
  color: var(--quaternary-color-opacity-full);
}

/* ///////////////////////////////////////////////////////////////// */
@media screen and (max-width: 720px) {
  .arrow {
    font-size: 32px;
  }
  h1 {
    font-size: 48px;
  }
  /* ////////////////////////////////////////////// */
  #first-container #start-screen img {
    border-width: 4px;
    width: 300px;
    height: 336px;
  }
  /* ////////////////////////////////////////////// */
  #second-container #projects-screen {
    width: 100%;
    padding: 32px 16px 16px;
    border-radius: 8px;
    margin-top: 16px;
  }
  #second-container .project {
    margin: 12px 0;
  }
  /* ////////////////////////////////////////////// */
  #third-container img {
    height: 72px;
    max-width: 100%;
  }
  #third-container #skillset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  #third-container .skill {
    font-size: 40px;
    width: 48%;
    margin-bottom: 16px;
  }
  #third-container .skill span {
    display: none;
  }
  /* ////////////////////////////////////////////// */
  #fourth-container #about-me {
    width: 100%;
  }
  /* ////////////////////////////////////////////// */
  #fifth-container #socials {
    font-size: 48px;
  }
  #fifth-container a:hover {
    font-size: 64px;
  }
}
/* ///////////////////////////////////////////////////////////////// */
@media screen and (max-width: 520px) {
  h1 {
    font-size: 40px;
  }

  /* ////////////////////////////////////////////// */
  #first-container #start-screen img {
    width: 250px;
    height: 282px;
  }
  #first-container p {
    font-size: 16px;
  }
  /* ////////////////////////////////////////////// */
  #second-container #projects-screen {
    width: 100%;
    padding: 12px 6px 12px;
    border-radius: 8px;
    margin-top: 16px;
  }
  #second-container a {
    font-size: 28px;
    padding: 12px;
  }

  /* ////////////////////////////////////////////// */
  #third-container #skillset {
    padding: 8px 16px;
  }
  #third-container img {
    height: 48px;
  }
  #third-container .skill {
    width: 100%;
    margin-bottom: 2px;
  }
  /* ////////////////////////////////////////////// */
  #fourth-container #slider-wrapper {
    height: 250px;
  }
  #fourth-container .slide {
    height: 218px;
  }
  #fourth-container #about-me {
    font-size: 14px;
  }
  #fourth-container p {
    letter-spacing: 1px;
  }
}
/* ///////////////////////////////////////////////////////////////// */
@media screen and (max-width: 420px) {
  h1 {
    font-size: 32px;
  }
  /* ////////////////////////////////////////////// */
  #first-container #start-screen img {
    width: 200px;
    height: 225px;
  }
}
